@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Karla', monospace !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 1s ease-in;
}


.container {
    background: rgba(255, 255, 255, 0) !important;
    padding: 20px;
    box-shadow: 12px 14px 13px 2px rgba(0, 0, 0, 0.116) !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#change {
    width: 100px;
    height: 45px;
    border: 1px solid #50575d;
}