@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right bottom, #ffb74d, #ffcc80);
    font-family: 'Karla', monospace !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 1.5s ease-in;
}

.container {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: -1px 1px 13px 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
    max-width: 600px !important;
    background-color: #ffc799 !important;
    width: 95% !important;
}

input[type="number"] {
    width: 100%;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main input {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.4);
    padding: 5px;
    border-color: rgba(255, 255, 255, 0.5);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button#calc {
    background: #ff7043;
    border-color: #ff7043;
    margin: 20px;
}


.message {
    font-size: 18px;
    margin-top: 20px;
}