* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    font-family: 'Labrada', Courier, monospace;
    min-height: 100vh;
}

.container {
    width: 450px !important;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #2a9966 !important;
    color: white !important;
}

textarea {
    width: 100%;
    max-width: 350px;
    height: 150px;
}

.counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    top: 30px;
}

span#total-value {
    color: #303030;
}

span#remainder-value {
    color: #ff3333;
}

textarea#textarea {
    text-align: center;
}