@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Merienda&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #151515 !important;
    /* background: linear-gradient(to-right, #000, #151515); */
    /* background: linear-gradient(
        to right,
        red 20%,
        orange 20% 40%,
        yellow 40% 60%,
        green 60% 80%,
        blue 80%
      ); */
    color: #ffffff !important;
    /* background: linear-gradient(#555555, #222222); */
    font-family: 'EB Garamond', serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    /* background-color: #292929; */
    background: linear-gradient(#0770b6, #222222);
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    position: relative;
    width: 90%;
}


.actions button {
    background-color: #0ec5dd;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

#reset {
    background-color: #e71212;
}

#reset:hover {
    background-color: #c01313;
}

.actions button:hover {
    background-color: #0aabc0;
}

  /*   
  #total {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  } */

.options {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.options input {
    margin: 0;
    padding: 0;
    position: relative;
    right: 3px;
    top: 1px;
    width: 35px;
}

#result {
    max-width: 200px;
    cursor: default;
    text-align: center;
}

.result-display {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.result-display h2 {
    text-align: center;
}


#error1 {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    right: 0;
    text-align: center;
    margin: auto;
}


/* main reason why i code */
/* its the one thing i do & love that my dad supports.. tryna cope from football */
/* still wanna be a footballer but i dont think its possible to convince him */
/* artist is another one to consider.. noone knows my true intentions tho */



p.alert.alert-danger {
    border-radius: 0;
    color: #c10000 !important;
}

.height-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}