* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ffffff !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.container {
    text-align: center;
    background-color: white;
    max-width: 600px;
    padding: 20px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#result {
    font-size: 1.5rem;
    margin-top: 20px;
}

.choices button {
    width: 150px;
    height: 150px;
    padding: 17px 20px;
    margin: 0 10px;
    border: none;
    font-size: 60px;
}

#rock {
    background-color: #ff2b2b;
    border-radius: 50%;
}

#paper {
    background-color: #2424ff;
    border-radius: 50%;
}

#scissors {
    background-color: #2eff2e;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .choices button {
        padding: 10px;
        height: 100px;
        width: 100px;
        font-size: 50px;
    }
}

.scores {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

#ps-val {
    color: #00dce4;
}

#cs-val {
    color: #ff2828;
}

div#moves {
    font-size: 20px;
}