@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  padding: auto;
  /* background-color: #252734 !important; */
  /* color: #ffffff !important; */
  /* font-family: 'Pirata One', cursive !important; */
  font-family: 'MuseoModerno', cursive !important;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important; */
}

a.primary {
  color: var(--secondary-color) !important;
}

header nav {
  background-color: #444 !important;
}

nav .nav-link {
  font-size: 15px !important;
  padding-left: 10px;
  color: white !important;
  font-weight: 300;
}


nav .nav-link.active {
  color: #ffffff !important;
  /* text-align: center; */
}

nav .btn-outline-primary {
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}

nav .btn-outline-primary:hover {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

nav .form-control:focus {
  border-color: var(--secondary-color) !important;
  box-shadow: 0 0 0 0.25rem #00d1ce21;
}

.container {
  /* background-color: #252734 !important; */
  box-shadow: none !important;
}

.preview-img {
  width: 100%;
  max-width: 400px;
  height: 150px;
  object-fit: cover;
  overflow: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header.project-header {
  background: #1b1d27;
}

#title {
  font-size: 1.5rem;
  font-weight: 300;
}

.container .col {
  display: flex;
  justify-content: center;
}

.card {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border: none !important;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.row .col {
  float: left !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  padding: 0 0.75rem !important;
  min-height: 1px !important;
}


@media only screen and (max-width: 600px) {
  .card {
    width: 100% !important;
    height: 100% !important;
  }
}

.project-tags span {
  border-radius: 5px;
  padding: 3px 5px;
  margin: 0 2px;
  display: flex;
  width: 70px !important;
  position: relative;
  right: 2px;
  font-size: 13px;
  height: 25px !important;
  justify-content: center;
}

#html {
  background: #ff8c5b;
}

#html::after {
  content: "HTML";
}

#css {
  /* background: #264de4; */
  background: #73c0ff;
}

#css::after {
  content: 'CSS';
}

#js {
  background: #ffee7d;
}

#js::after {
  content: 'JS';
}

/* @media only screen and (min-width: 601px) {

.row .col {
    width: 33.3333333333% !important;
    margin-left: auto !important;
    left: auto !important;
    right: auto !important;
}
} */
/* .icon {
  font-size: .9rem;
  display: inline-flex;
  background: #D8D8D8;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 15px;
  span {
    border-radius: 5px;
    padding: 3px 5px;
  };
} */

.project-tags {
  display: flex;
  align-items: center;
  flex-direction: row;
}

button.navbar-toggler {
  border: 1px solid #707070 !important;
}

li.nav-item.border-bottom {
  border-color: #ffffff1f !important;
}

li.nav-item.border-bottom:last-child {
  border-color: #9d9d9d !important;
}

li.nav-item:focus {
  border: 1px solid red !important;
}

li.nav-item.active {
    background: #00d5d2;
}